.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    grid-row-gap: 40px;
    padding-top: 3em;
    padding-bottom: 3em;
    

}

@media screen and (max-width: 600px) {


    

    .product-container {
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
    }
}

.product-card {
    margin-bottom: 2em;
}

.product-price span {
    margin-bottom: 0;
    margin-top: 10px;
}

.card-btn {
    display: none;
}